<div class="card d-flex flex-column">
    <img src="../../assets/{{ article.codigo }}.jpg" class="card-img-top" />
    <div class="card-body">
        <h3 class="card-title">{{ article.nombre }}</h3>
        <p class="card-text">{{ article.descripcion }}</p>
        <b>
            <p class="card-text text-center">{{ article.precio }}</p>
        </b>
    </div>
    <button id="{{ article.codigo }}" class="btn btn-primary">
        Comprar
    </button>
</div>
<br>
<h3>{{ modelo }}</h3>
<input type="text" [(ngModel)]="modelo">