<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{nombre}}</td>
            <td>{{cargo}}</td>
        </tr>
    </tbody>
</table> -->

<div class="alert alert-primary mt-5 text-center" role="alert">
    <h3 class="text-center">Articulo Seleccionado</h3>
    <div class="d-inline-block">
        <table class="mx-auto">
            <tr>
                <td>id: </td>
                <td><input type="text" [(ngModel)]="id" readonly></td>
            </tr>
            <tr>
                <td>nombre: </td>
                <td><input type="text" [(ngModel)]="nombre"></td>
            </tr>
            <tr>
                <td>descripción: </td>
                <td><input type="text" [(ngModel)]="cargo"></td>
            </tr>
        </table>
        <br>
        <button class="btn btn-primary" (click)="putCliente()">Modificar</button> &nbsp;
        <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
    </div>