<h3 class="text-primary text-center">Tabla Artículos: </h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Codigo</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles">
            <td scope="row">{{ article.codigo }}</td>
            <td>{{ article.nombre }}</td>
            <td>{{ article.descripcion }}</td>
            <td>{{ article.precio }}</td>
        </tr>
    </tbody>
</table>

<br>

<div class="text-center">
    <h3 class="text-primary">Select Artículos: </h3>
    <select class="form-select-lg" [(ngModel)]="selectedArticle">
        <option [value]="article.nombre" *ngFor="let article of articles">
            {{article.nombre}}
        </option>
    </select>
    <p>Artículo seleccionado: <b>{{ selectedArticle }}</b></p>
</div>