<br>
<div class="alert alert-secondary" role="alert">
    <a routerLink="/article" style="color: #7d7576;"><span><b>Article 1:</b></span> Show all articles</a>
</div>
<div class="alert alert-secondary" role="alert">
    <a routerLink="/article2" style="color: #7d7576;"><span><b>Article 2:</b></span> Search article by codigo</a>
</div>
<div class="alert alert-secondary" role="alert">
    <a routerLink="/article3" style="color: #7d7576;"><span><b>Article 3:</b></span> Two way data binding</a>
</div>
<div class="alert alert-secondary" role="alert">
    <a routerLink="/article4" style="color: #7d7576;"><span><b>Article 4:</b></span> Show article Two Way Data
        Binding</a>
</div>
<div class="alert alert-secondary" role="alert">
    <a routerLink="/article5" style="color: #7d7576;"><span><b>Article 5:</b></span> CRUD Articles</a>
</div>