<table class="table table-striped">
    <thead>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles">
            <td>{{article.codigo}}</td>
            <td>{{article.nombre}}</td>
            <td>{{article.descripcion}}</td>
            <td>{{article.precio}}</td>
            <td><button (click)="navigateTo('/showarticle/' + article.codigo)" class="btn btn-primary">
                    Ver</button></td>
            <td><button (click)="deleteArticle(article.codigo)" class="btn btn-danger">
                    Borrar</button></td>
        </tr>
    </tbody>
</table>

<br>
<div class="text-center">
    <button (click)="navigateTo('/article5')" class="btn btn-secondary">Volver</button>
</div>
<br>